<h1><%= @stack.name %></h1>
<p>
  <%= @stack.description %>
</p>

<% if @surveys.size > 0 %>
  <%= form_tag("/stacks/#{@stack.id}/add_survey") do %>
    <%= select_tag "survey_id", options_from_collection_for_select(@surveys, "id", "name")%>
    <%= submit_tag "Add to stack"%>
  <% end %>
<% end %>

<h2>Surveys of the stacks</h2>
<% if @stack_surveys %>
  <ul class="stack_list">
  <% @stack_surveys.each do |s| %>
    <li>&bull; <%=link_to s.name, s%> - <%= link_to 'Remove', "/stacks/#{@stack.id}/remove_survey?survey_id=#{s.id}" , :confirm => 'Are you sure?' %><br /></li>
  <% end %>
  </ul>
<% else %>
  You don't have any survey in this stack yet.
<% end %>


<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
