<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stack.name %>
</p>

<p>
  <b>Description:</b>
  <%= @stack.description %>
</p>

<% if @surveys.size > 0 %>
  <%= form_tag("/stacks/#{@stack.id}/add_survey") do %>
    <%= select_tag "survey_id", options_from_collection_for_select(@surveys, "id", "name")%>
    <%= submit_tag "Add to stack"%>
  <% end %>
<% end %>

<h3>Surveys of the stacks</h3>
<% if @stack_surveys %>
  <% @stack_surveys.each do |s| %>
    <%=link_to s.name, s%> - <%= link_to 'Remove', "/stacks/#{@stack.id}/remove_survey?survey_id=#{s.id}" , :confirm => 'Are you sure?' %><br />
  <% end %>
<% else %>
  You don't have any survey in this stack yet.
<% end %>


<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
