<h1>Possible answers</h1>

<% if @answers.size > 0 %>
<table>
  <tr>
    <th>Text</th>
    <th>Votes</th>
	<th>Use the picture</th>
	<th>Picture</th>
	<th>Order</th>
    <th></th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
	<td><%= answer.content %></td>
	<td><%= answer.votes_count %></td>
    <td><%= answer.as_image %></td>
	<td><%= image_tag(answer.pic.url(:thumb)) if answer.pic_file_name %></td>
    <td><%= answer.order %></td>
    <td class="actions">
		<%= link_to 'Edit', edit_answer_path(answer) %>
		<%= link_to 'Destroy', answer, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />
<%else%>
<p>
You haven't set up any answer yet.
</p>

<% end %>
<%= link_to 'New Answer', new_survey_answer_path(@survey.id), :class => 'button' %>
