<h1>Listing ratings for <%=link_to @survey.name, @survey%></h1>

<table>
  <tr>
    <th>Location</th>
    <th>Value</th>
    <th>Date</th>
  </tr>
<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.location.name %></td>
    <td><%= rating.label %></td>
    <td><%=l rating.created_at, :format => :long %></td>
  </tr>
<% end %>
</table>

<br />

Graph:

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Frequency', 'Rating'],
		<% @scores.each do |rating| %>
			<%= rating %>,
		<% end %>
        ]);

        var options = {
          title: 'do you like graphs?',
          hAxis: {title: 'Rating'},
		  vAxis: {title: "%", maxValue: 100, minValue: 0}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
