<h1>Listing ratings for <%=link_to @survey.name, @survey%></h1>

<table>
  <tr>
    <th>Location</th>
    <th>Value</th>
    <th>Date</th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.location.name %></td>
    <td><%= rating.label %></td>
    <td><%=l rating.created_at, :format => :long %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @ratings %>
<br />
