<h1>Listing ratings for <%=link_to @survey.name, @survey%></h1>

<table>
  <tr>
    <th>Location</th>
    <th>Value</th>
    <th>Date</th>
  </tr>
<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.location.name %></td>
    <td><%= rating.label %></td>
    <td><%=l rating.created_at, :format => :long %></td>
  </tr>
<% end %>
</table>

<br />

Graph:

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      
var chart;

		google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Frequency', 'Rating'],
		<% @scores.each_with_index do |rating, index| %>
			<%= rating %>
			<%= ',' unless index == @scores.length - 1 %>
		<% end %>
        ]);

        var options = {
          title: '<%= @survey.question %>',
          hAxis: {title: 'Rating', maxValue: <%= @survey.scale_size + 1 %>, viewWindow: { max: <%= @survey.scale_size + 1 %> }, gridlines: { color: "transparent" }},
		  vAxis: {title: "%", format: "#%", maxValue: 1, minValue: 0, fontSize: 0, gridlines: { color: "transparent" } }

        };

        chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);

	   // Add our over/out handlers.
	    google.visualization.events.addListener(chart, 'onmouseover', barMouseOver);
	    google.visualization.events.addListener(chart, 'onmouseout', barMouseOut);
	  }

	  function barMouseOver(e) {
		console.log(e)
		return false;
	    chart.setSelection([e]);
	  }

	  function barMouseOut(e) {
	    chart.setSelection([{'row': null, 'column': null}]);
	  }

    </script>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
