<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :question, 'Title of the question' %><br />
	<em><small>This is the title that will be displayed in the survey page.</small></em><br />
    <%= f.text_field :question %>
  </div>
<div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
	<div class="field">
	    <%= f.label :scale_size, 'Size of scale' %><br />
		<%= select("survey", "scale_size", [['2 values', 2], ['5 values', 5]])%>
	  </div>
	<div class="field">
	    <%= f.label :scale_type, 'Type of scale' %><br />
		<%= select("survey", "scale_type", [['Hands', 'hand'], ['Faces', 'face']])%>
	  </div>
  <div class="field">
    
    <%= f.check_box :enabled %> <%= f.label :enabled %>
  </div>
	<div class="field">
    <%= f.check_box :display_stats %>
	<%= f.label :display_stats,'Display stats after votes' %>
  </div>
	<div class="field">
	    <%= f.label :votes_before_stats, 'Number of votes before displaying stats' %><br />
	    <%= f.text_field :votes_before_stats %>
	  </div>
	<div class="field">
	    <%= f.label :stats_default_history, 'Number of days taken in account for the stats' %><br />
	    <%= f.text_field :stats_default_history %>
	  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
