<table class="survey">
	<% if @survey.scale_size == 2 %>
	
	<% elsif @survey.scale_size == 5 %>
		<tr>	
		<%['4-hand', '3-hand', '2-hand', '1-hand', '0-hand'].each do |option|%>
			
				<td class="positioned" valign="bottom" style="vertical-align:bottom">
					<% if @ratings[option] %>
					<div style="height:<%=((@ratings[option] * 200)/@max) + 20%>px" class="stat-block">

						<%= (@ratings[option].to_f*100/@total.to_f).round%>% (<%=@ratings[option]%>)
					</div>
					<% else %>
					<div style="height:20px" class="stat-block">

						<%= 0 %>
					</div>
					<% end %>
				</td>
			
		<% end %>
		</tr>
		<tr>	
		<%['4-hand', '3-hand', '2-hand', '1-hand', '0-hand'].each do |option|%>
			
				<td class="positioned" valign="bottom" style="vertical-align:bottom">
					<%=image_tag(option + '.png')%>
				</td>
			
		<% end %>
		</tr>
	<% end %>
	
</table>