<h1>Listing surveys</h1>

<% if @surveys.size == 0 %>
<div class="tutorial">
	<p>
		It looks like you haven't created a survey.
	</p>
	<p>
		Use the form below to get started!
	</p>
	<%=render :partial => 'form'%>
</div>
<% else %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Enabled</th>
    <th>Votes</th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.name %></td>
    <td><%= survey.description %></td>
    <td><%= survey.enabled %></td>
    <td><%= survey.votes_count%></td>
    <td class="actions">
		<%= link_to 'Show', survey %>
		<%= link_to 'Edit', edit_survey_path(survey) %>
		<%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete %>
	</td>
		
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_survey_path, :class => 'button' %>

<% end %>


