<h1><%= @survey.name %></h1>
<h2><%= @survey.question %></h2>
<%= link_to 'Edit', edit_survey_path(@survey), :class => 'button' %>
<p>
  <b>Scale Size:</b>
  <% if @survey.scale_size == 2 %>
	Binary scale
  <% elsif @survey.scale_size == 5 %>
	5 degrees scale
  <% else %>
	Sorry, your scale is not properly configured
  <% end %>
</p>
<p>
  <b>Scale Type:</b>
  <%= @survey.scale_type %>
</p>
<p>
  <b>Description:</b>
  <%= @survey.description  %>
</p>
<p>
  <b>Enabled:</b>
  <%= @survey.enabled %>
</p>

<p><%=link_to 'Check the stats', stats_survey_path(@survey)%></p>

