<h1>Listing votes</h1>

<table>
  <tr>
    <th>Survey</th>
    <th>Answer</th>
    <th>Location</th>
    <th>Ip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.survey_id %></td>
    <td><%= vote.answer_id %></td>
    <td><%= vote.location_id %></td>
    <td><%= vote.ip %></td>
    <td><%= link_to 'Show', vote %></td>
    <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
    <td><%= link_to 'Destroy', vote, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote', new_vote_path %>
