<p id="notice"><%= notice %></p>

<p>
  <b>Survey:</b>
  <%= @vote.survey_id %>
</p>

<p>
  <b>Answer:</b>
  <%= @vote.answer_id %>
</p>

<p>
  <b>Location:</b>
  <%= @vote.location_id %>
</p>

<p>
  <b>Ip:</b>
  <%= @vote.ip %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
