<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<div class="field">
    <%= f.label :survey_id, 'Survey to display' %><br />
<% if @surveys.size > 0 %>
	<%= select("location", "survey_id", @surveys.collect {|s| [ s.name, s.id ] }, {:include_blank => 'None'})%>
<% else %>
	You don't have any survey. <%= link_to "Add one", new_survey_path %> first.
<% end %>
  </div>

  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', {:class => 'button'} %>
  </div>
<% end %>
