<div id="content">
	
	<div id="ajax-div" style="display:none">
		
	</div>
	<div id="stats-div" style="display:none">
		
	</div>
</div>
<script type="text/javascript">

var upd_anwsers = true;
var display_stats = <%= @location.survey.display_stats %>;
var stats_threshold = <%= @location.survey.votes_before_stats %>;
var ratings_count = <%= @ratings_count[0].ratings_count %>;
$(function(){
	//$('#ajax-div').load();
	loadAnswers();
	showAnswers();
	updateStatsDiv();
	setInterval( "updateStatsDiv()", 10000 );
	setInterval( function() {
		if (upd_answers){
	    	loadAnswers();
			showAnswers();
			}
	}, 60000 );
});

function loadAnswers(){
	$.ajax({
	  url: '/locations/<%=@location.id%>/options',
	  success: function(data) {
	    $('#ajax-div').html(data);
	  },
	  beforeSend: function(data) {
	    $('#ajax-div').html('<img src="/images/ajax.gif" alt="" />');
	  }
	});
}

function showAnswers(){
	$('#ajax-div').show();
	upd_answers = true;
}

function hideAnswers(){
	$('#ajax-div').hide();
}

function showStats(){
	$('#stats-div').show();
	upd_answers = false;
}
function hideStats(){
	$('#stats-div').hide();
}



function updateStatsDiv(){
	$('#stats-div').load('/locations/<%=@location.id%>/stats');
}

function loadStats(){
	//$('#ajax-div').load('/locations/'+location_id+'/stats');
	console.log('starting...');
	$.ajax({
	  url: '/locations/stats',
	  dataType: 'html',
	  success: function(data) {
		console.log('success..');
		console.log('data');
	     eval(data);
		console.log("Data "+data);
	  }
	});
}

function saveRating(label, survey_id){
	console.log('save ' + label);
	$.ajax({
	  url: '/ratings',
	  data: 'rating[survey_id]=' + survey_id + '&rating[location_id]=<%=@location.id%>&rating[label]=' + label,
	  type:'POST',
	  success: function(data) {
	  	ratings_count++;
		
	  },
	  beforeSend: function(data) {
	    console.log('saving rating');
		//$('#ajax-div').html('<img src="/images/ajax.gif" alt="" />');
	  }
	});
	
	if (display_stats && (ratings_count > stats_threshold)  ){
		hideAnswers();
		showStats();
		loadAnswers();
		setTimeout(function() {
	    hideStats();
		showAnswers();
	}, 2000);
	}
	else {
		loadAnswers();
		showAnswers();
	}
	return false;
	
	return false;
}
</script>